# the large CSV files
aiesec_opportunities_extracted.csv
aiesec_applications_extracted.csv

# the private key file
intercom_scripts.pem
matchability_api/venv
matchability_api/db.sqlite3
matchability_api/.idea
matchability_api/log
matchability_api/Gemfile.lock


.DS_Store

__pycache__
